

.app-json-viewer {
font-family: monospace;
font-size: 1em;     
width: 100%;       
height: 100%;    
overflow: hidden;       
position: relative; } 

.app-json-viewer .segment {
padding: 2px;         
margin: 1px 1px 1px 12px; }

.app-json-viewer .segment .segment-main {           word-wrap: break-word; }   ;

.app-json-viewer .segment .segment-main .toggler {
position: absolute;      
margin-left: -14px;          
margin-top: 3px;             
font-size: .8em;     
line-height: 1.2em;             
vertical-align: middle;      
color: #787878; }     

.app-json-viewer .segment .segment-main .toggler::after {
display: inline-block;      
content: \"\u25BA\";           
-webkit-transition: -webkit-transform 0.1s ease-in;             
transition: -webkit-transform 0.1s ease-in;              
transition: transform 0.1s ease-in;           
transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in; } 

 .app-json-viewer .segment .segment-main .segment-key {
    color: #4E187C; }           
    
 .app-json-viewer .segment .segment-main .segment-separator {  
    color: #999; }          
    
 .app-json-viewer .segment .segment-main .segment-value {             
    color: #000; }         
    
 .app-json-viewer .segment .children {           margin-left: 12px; }       

.app-json-viewer .segment-type-string > .segment-main > .segment-value {         
    color: #FF6B6B; }       
    
.app-json-viewer .segment-type-number > .segment-main > .segment-value {         
    color: #009688; }       
    
 .app-json-viewer .segment-type-boolean > .segment-main > .segment-value {         
    color: #b938a4; }       
    
:host .app-json-viewer .segment-type-date > .segment-main > .segment-value {         
    color: #05668D; }       
    
.app-json-viewer .segment-type-array > .segment-main > .segment-value {         
    color: #999; }       
    
.app-json-viewer .segment-type-object > .segment-main > .segment-value {         
    color: #999; }       
    
 .app-json-viewer .segment-type-function > .segment-main > .segment-value {         
    color: #999; }       
    
 .app-json-viewer .segment-type-null > .segment-main > .segment-value {         
    color: #fff; }       
    
 .app-json-viewer .segment-type-undefined > .segment-main > .segment-value {         
    color: #fff; }       
    
 .app-json-viewer .segment-type-null > .segment-main > .segment-value {        
     background-color: red; }       
     
 .app-json-viewer .segment-type-undefined > .segment-main > .segment-key {         
    color: #999; }       
    
 .app-json-viewer .segment-type-undefined > .segment-main > .segment-value {        
     background-color: #999; }       
     
 .app-json-viewer .segment-type-object > .segment-main,       
 .app-json-viewer .segment-type-array > .segment-main 
{         white-space: nowrap; }  

 .app-json-viewer .expanded > .toggler::after {         
    -webkit-transform: rotate(90deg);                 
    transform: rotate(90deg); }       
    
 .app-json-viewer .expandable, .app-json-viewer .expandable > .toggler
 {         cursor: pointer; }
            