<div class="row" style="height:500px ">

<p class=" w-25 p-3 h-100 d-inline-block " style="border: solid; float:left; margin-right:200px;">
<app-json-viewer [json]="requestData" [expanded]="false"></app-json-viewer>
</p>

<button class ="btn btn-info" style="height:7%">click me</button><b class="text-danger">>></b>

<p class=" w-25 p-3 h-100 d-inline-block " style="border: solid; float: left; margin-left:200px;">
<app-json-viewer [json]="responseData" [expanded]="false"></app-json-viewer>
</p>


<!-- buttons for downloads -->
<div class="row">
    <button class ="btn btn-info" style="float:left">Download</button>
    <button class ="btn btn-info" style="float:left; margin-left: 600px">Download</button>
</div>
