<div class="row col-sm-12" style="height:500px ">
    <div class="col-sm-4 ">
        <p class=" w-75 p-3  d-inline-block " style="border: solid; float:left;word-wrap: break-word; overflow-y: auto;height:500px;margin:10px">
            <app-json-viewer [json]="requestData" [expanded]="false"></app-json-viewer> 
        </p>
        <button class ="btn btn-info" style="float:left;margin-left:10px">Download</button> 
    </div>

    <div class="col-sm-3" style="margin:10px">
        <button class ="btn btn-info" style="height:40px;">click me</button>
        <b class="text-danger">>></b>
    </div>

<div class="col-sm-4 ">
    <p class=" w-75 p-3 d-inline-block " style="border: solid; float: left;word-wrap: break-word; overflow-y: auto;height:500px;margin:10px">
        <app-json-viewer [json]="responseData" [expanded]="false"></app-json-viewer>
    </p>
    <button class ="btn btn-info" style="float:left;margin-left:10px">Download</button>
    </div>
</div>


